body {
  font-family: 'Poppins', Helvetica;
  margin: 0;
  padding: 0;
  background-color: #f7f3e9; 
  color: #333; 
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fffdf8;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


h1 {
  color: #5c5470; 
  text-align: center;
}

h2 {
  color: #745c97; 
}


input {
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d1cfd0;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #faf7f0;
}

input:focus {
  outline: none;
  border-color: #a8b3e3;
  box-shadow: 0 0 5px rgba(168, 179, 227, 0.5);
}


button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #82c0cc;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #6099a4;
  transform: translateY(-2px);
}

button:active {
  background-color: #50838b;
  transform: translateY(0);
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #ef9f9f;
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

a:hover {
  background-color: #d98888;
  transform: translateY(-2px);
}

a:active {
  background-color: #b86c6c;
  transform: translateY(0);
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 8px 10px;
  margin: 5px 0;
  background-color: #dde7e5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  button, a {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
